<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn" ng-click="refreshMetadataCounts()">Refresh</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Camera Make</h3>
                </div>
            </div>
            <div class="row" ng-repeat="cameraMake in driveAnalysisModel.metadataCounts.cameraMakeCounts">
                <div class="col-xs-12">
                    <label ng-class="cameraMake.filteredCount==0 ? 'dull' : ''"}>
                        <input type="checkbox" checklist-model="filterModel.cameraMake"
                               checklist-value="cameraMake.value"> {{cameraMake.value}} ({{cameraMake.count}})
                        <span ng-hide="cameraMake.count==cameraMake.filteredCount">({{cameraMake.filteredCount}})</span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Camera Model</h3>
                </div>
            </div>
            <div class="row" ng-repeat="cameraModel in driveAnalysisModel.metadataCounts.cameraModelCounts">
                <div class="col-xs-12">
                    <label ng-class="cameraModel.filteredCount==0 ? 'dull' : ''"}>
                        <input type="checkbox" checklist-model="filterModel.cameraModel"
                               checklist-value="cameraModel.value"> {{cameraModel.value}} ({{cameraModel.count}})
                        <span ng-hide="cameraModel.count==cameraModel.filteredCount">({{cameraModel.filteredCount}})</span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Lens</h3>
                </div>
            </div>
            <div class="row" ng-repeat="lens in driveAnalysisModel.metadataCounts.lensCounts">
                <div class="col-xs-12">
                    <label ng-class="lens.filteredCount==0 ? 'dull' : ''"}>
                        <input type="checkbox" checklist-model="filterModel.lens"
                               checklist-value="lens.value"> {{lens.value}} ({{lens.count}})
                        <span ng-hide="lens.count==lens.filteredCount">({{lens.filteredCount}})</span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Aperture</h3>
                </div>
            </div>
            <div class="row" ng-repeat="aperture in driveAnalysisModel.metadataCounts.apertureCounts">
                <div class="col-xs-12">
                    <label ng-class="aperture.filteredCount==0 ? 'dull' : ''"}>
                        <input type="checkbox" checklist-model="filterModel.aperture"
                               checklist-value="aperture.value"> {{aperture.value}} ({{aperture.count}})
                        <span ng-hide="aperture.count==aperture.filteredCount">({{aperture.filteredCount}})</span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Focal Length</h3>
                </div>
            </div>
            <div class="row" ng-repeat="focalLength in driveAnalysisModel.metadataCounts.focalLengthCounts">
                <div class="col-xs-12">
                    <label ng-class="focalLength.filteredCount==0 ? 'dull' : ''"}>
                        <input type="checkbox" checklist-model="filterModel.focalLength"
                               checklist-value="focalLength.value"> {{focalLength.value}} ({{focalLength.count}})
                        <span ng-hide="focalLength.count==focalLength.filteredCount">({{focalLength.filteredCount}})</span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>ISO Speed</h3>
                </div>
            </div>
            <div class="row" ng-repeat="isoSpeed in driveAnalysisModel.metadataCounts.isoSpeedCounts">
                <div class="col-xs-12">
                    <label ng-class="isoSpeed.filteredCount==0 ? 'dull' : ''"}>
                        <input type="checkbox" checklist-model="filterModel.isoSpeed"
                               checklist-value="isoSpeed.value"> {{isoSpeed.value}} ({{isoSpeed.count}})
                        <span ng-hide="isoSpeed.count==isoSpeed.filteredCount">({{isoSpeed.filteredCount}})</span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Exposure Time</h3>
                </div>
            </div>
            <div class="row" ng-repeat="exposureTime in driveAnalysisModel.metadataCounts.exposureTimeCounts">
                <div class="col-xs-12">
                    <label ng-class="exposureTime.filteredCount==0 ? 'dull' : ''"}>
                        <input type="checkbox" checklist-model="filterModel.exposureTime"
                               checklist-value="exposureTime.value"> {{exposureTime.value}} ({{exposureTime.count}})
                        <span ng-hide="exposureTime.count==exposureTime.filteredCount">({{exposureTime.filteredCount}})</span>
                    </label>
                </div>
            </div>

        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-4" ng-repeat="photo in driveAnalysisModel.photos">
                    <a href="" class="thumbnail">
                        <img src="{{photo.thumbnailLink}}" alt="{{photo.title}}">
                        <h4>{{photo.title}}</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>