<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn" ng-click="refreshMetadataCounts()">Refresh</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Camera Make</h3>
                </div>
            </div>
            <div class="row" ng-repeat="cameraMake in driveAnalysisModel.metadataCounts.cameraMakeCounts">
                <div class="col-xs-12">
                    <label>
                        <input type="checkbox" checklist-model="filterModel.cameraMake"
                               checklist-value="cameraMake.key"> {{cameraMake.key}} ({{cameraMake.value}})
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Camera Model</h3>
                </div>
            </div>
            <div class="row" ng-repeat="cameraModel in driveAnalysisModel.metadataCounts.cameraModelCounts">
                <div class="col-xs-12">
                    <label>
                        <input type="checkbox" checklist-model="filterModel.cameraModel"
                               checklist-value="cameraModel.key"> {{cameraModel.key}} ({{cameraModel.value}})
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Lens</h3>
                </div>
            </div>
            <div class="row" ng-repeat="lens in driveAnalysisModel.metadataCounts.lensCounts">
                <div class="col-xs-12">
                    <label>
                        <input type="checkbox" checklist-model="filterModel.lens"
                               checklist-value="lens.key"> {{lens.key}} ({{lens.value}})
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Aperture</h3>
                </div>
            </div>
            <div class="row" ng-repeat="aperture in driveAnalysisModel.metadataCounts.apertureCounts">
                <div class="col-xs-12">
                    <label>
                        <input type="checkbox" checklist-model="filterModel.aperture"
                               checklist-value="aperture.key"> {{aperture.key}} ({{aperture.value}})
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Focal Length</h3>
                </div>
            </div>
            <div class="row" ng-repeat="focalLength in driveAnalysisModel.metadataCounts.focalLengthCounts">
                <div class="col-xs-12">
                    <label>
                        <input type="checkbox" checklist-model="filterModel.focalLength"
                               checklist-value="focalLength.key"> {{focalLength.key}} ({{focalLength.value}})
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>ISO Speed</h3>
                </div>
            </div>
            <div class="row" ng-repeat="isoSpeed in driveAnalysisModel.metadataCounts.isoSpeedCounts">
                <div class="col-xs-12">
                    <label>
                        <input type="checkbox" checklist-model="filterModel.isoSpeed"
                               checklist-value="isoSpeed.key"> {{isoSpeed.key}} ({{isoSpeed.value}})
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Exposure Time</h3>
                </div>
            </div>
            <div class="row" ng-repeat="exposureTime in driveAnalysisModel.metadataCounts.exposureTimeCounts">
                <div class="col-xs-12">
                    <label>
                        <input type="checkbox" checklist-model="filterModel.exposureTime"
                               checklist-value="exposureTime.key"> {{exposureTime.key}} ({{exposureTime.value}})
                    </label>
                </div>
            </div>

        </div>
        <div class="col-xs-9">
            <div class="row" ng-repeat="photo in driveAnalysisModel.photos">
                <div class="col-xs-12">
                    {{photo.title}}
                </div>
            </div>
        </div>
    </div>

</div>